#gamecontainer {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    margin: 0;
    /* background-image: url("images/star.png");
    background-repeat: no-repeat; */

    background-color: rgb(2, 1, 11);
}

*{
    transition: 20ms;
}